.container{
    padding: 100px 0;
}
p{
    color: #b3b3b3;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    font: caption;
    font-size: 40px;
    position: relative;
    top: -185px;
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}